body{
    background-image: url(https://www.nps.gov/articles/images/37579352874_d3126d2a4e_o.jpg?maxwidth=650&autorotate=false);
  background-size: cover;
}




.name{
  color: brown;
  margin: auto;
  text-align: center;
  text-decoration: underline;
  font-family: cursive;
}

.about{
  color: brown;
  margin: auto;
  text-align: center;
  font-family: cursive;

}

ul{
  margin: auto;
  width: 15%;
  font-style: normal;
  font-family: fantasy;
  color: brown
  ;
}

img{
  border-radius: 12px;
  height: 200px;
  width: 150px;
  padding-top: 25px;

}

.center{
  display: block;
  
  margin-left: auto;
  margin-right: auto;
}
p{
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  color: brown;
  font-weight: bolder;
}